In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [4]:
DSB_folder = os.getenv('DSB_PATH')

pyber_data_to_load = DSB_folder + '5_MatPlotLib/pyber_analysis/Resources/PyBer_ride_data.csv'

pyber_ride_df = pd.read_csv(pyber_data_to_load)

pyber_ride_df.head()

   Month  Avg. Fare ($USD)
0    Jan             10.02
1    Feb             23.24
2    Mar             39.20
3  April             35.42
4    May             32.34